.form-item.form-type-radios.form-item-mappings {
  float: left;
  width: 25%;
}
#vocabulary-fields {
  float: left;
  width: 75%;
}
.submit-button {
  width: 7%;
  overflow: visible;
  margin: 0 auto;
}
